body {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  margin-top: 151px;
}

a, button {
  cursor: pointer;
}

a {
  text-decoration: none;
  display: block;
}

h1 {
  font-size: 36px;
  line-height: 190%;
  font-weight: 300;
}

span, p, a, strong {
  font-size: 14px;
  line-height: 150%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-outline {
  display: block;
  background: transparent;
  color: white;
  border: 2px solid white;
  font-weight: 300;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 15px;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.btn-outline:hover {
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-lg {
  padding: 10px 25px;
  font-size: 16px;
}

.btn-primary {
  display: block;
  background: #2381fbcc;
  color: white;
  font-weight: 300;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 15px;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.btn-primary:hover {
  background: #297de8;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.input {
  background: #FFFFFF;
  border-radius: 50px;
  height: 72px;
  color: #828282;
  padding: 26px 44px;
  border: 1px solid #E0E0E0;
}

.input::-webkit-input-placeholder {
  color: #828282;
}

.input:-ms-input-placeholder {
  color: #828282;
}

.input::-ms-input-placeholder {
  color: #828282;
}

.input::placeholder {
  color: #828282;
}

.btn-submit {
  border-radius: 40px;
  padding: 22px 140px;
  border: none;
  color: white;
  background: #2381fbcc;
  -webkit-transition: 0.3s background ease-out;
  transition: 0.3s background ease-out;
}

.btn-submit:hover {
  background: #297de8;
  -webkit-transition: 0.3s background ease-out;
  transition: 0.3s background ease-out;
}

.text-center {
  text-align: center;
}

.tags {
  text-transform: lowercase;
  border-radius: 12px;
  padding: 5px 10px;
  font-size: 10px;
  line-height: 12px;
  color: white;
  display: block;
  margin-right: 5px;
}

.tags-primary {
  background-color: #2381fbcc;
}

.tags-warning {
  background-color: #f0ad4e;
}

.tags-success {
  background-color: #5cb85c;
}

.levitation {
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: levitation 3s ease-in-out infinite;
          animation: levitation 3s ease-in-out infinite;
}

.wrapper {
  padding: 65px 0px;
}

.ml-15 {
  margin-left: 15px;
}

.line {
  margin: 25px 0px !important;
}

@-webkit-keyframes levitation {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes levitation {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.header {
  height: auto;
}

.header .navbar__wrapper .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  padding: 10px 0px;
}

.header .navbar__wrapper .navbar__logo {
  padding: 5px 0px;
}

.header .navbar__wrapper .navbar__logo a img {
  max-width: 100px;
}

.header .navbar__wrapper .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header .navbar__wrapper .navbar__menu a {
  display: block;
  font-weight: 300;
  color: #333333;
  margin-right: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header .navbar__wrapper .navbar__menu a:hover {
  color: black;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.header .navbar__wrapper .navbar__menu a:last-child {
  margin-right: 0px;
}

.header .banner__wrapper {
  background: linear-gradient(110deg, #0a58f3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #004eccde 70%, #3f81ff 70%);
  padding: 180px 0px 50px;
}

.header .banner__wrapper .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header .banner__wrapper .banner h1 {
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
  max-width: 360px;
}

.header .banner__wrapper .banner p {
  color: white;
  font-size: 16px;
  max-width: 450px;
  margin: 10px 0px;
}

.header .banner__wrapper .banner .btn-lg {
  margin-top: 25px;
}

.header .banner__wrapper .banner__img {
  margin-top: -70px;
}

.navbar__menu-mobile {
  height: 0px;
  background: white;
  -webkit-transition: 1s height ease-in-out;
  transition: 1s height ease-in-out;
  overflow: hidden;
  background: #0a58f3;
}

.navbar__menu-mobile a:first-child {
  margin-top: 0px;
}

.navbar__menu-mobile a {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.navbar__menu-mobile--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.navbar__menu-mobile--contact a {
  height: 50px;
}

.navbar__menu-mobile--contact a img {
  margin-right: 25px;
}

.navbar__menu-mobile.open {
  height: 100vh;
  -webkit-transition: 1s height ease-in-out;
  transition: 1s height ease-in-out;
}

/* Create a sticky/fixed navbar */
#navbar {
  background: white;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* Adds a transition effect when the padding is decreased */
  position: fixed;
  /* Sticky/fixed navbar */
  width: 100%;
  top: 0;
  /* At the top */
  z-index: 99;
  border-bottom: 1px solid #e0e0e0;
}

.footer__wrapper {
  border-top: 1px solid #e0e0e0;
}

.footer__wrapper .footer {
  padding: 55px 0px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__wrapper .footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__wrapper .footer__link h3 {
  margin-bottom: 25px;
}

.footer__wrapper .footer__link-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  color: #333333;
  width: 330px;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.footer__wrapper .footer__link-item:hover {
  color: black;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.news-wrapper {
  height: 630px;
  padding: 45px 0;
  background-color: #f3f3f3;
}

.news-wrapper .news-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

.news-wrapper .news-header__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.news-wrapper .news-header__controls h1 {
  margin-left: 15px;
  line-height: 0;
}

.news-wrapper .news-header__controls a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-wrapper .news-header__controls a img {
  width: 20px;
  height: 20px;
}

.news-wrapper .news-header__show-news a {
  display: block;
  background: #2381fbcc;
  color: white;
  font-weight: 300;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 15px;
}

.news-wrapper .news__item {
  background: white;
  padding: 25px 15px;
  height: 435px;
  position: relative;
  border-right: 10px solid #f3f3f3;
}

.news-wrapper .news__item-img img {
  width: 100%;
  height: 200px;
}

.news-wrapper .news__item-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 10px;
}

.news-wrapper .news__item-date {
  padding: 15px 0px;
  font-size: 12px;
  color: #333333a3;
}

.news-wrapper .news__item-title {
  font-size: 14px;
}

.news-wrapper .news__item-btn {
  position: absolute;
  bottom: 25px;
  left: 15px;
}

.teacher-wrapper {
  height: auto;
  padding: 65px 0;
  border-bottom: 1px solid #E0E0E0;
}

.teacher-wrapper .teacher-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

.teacher-wrapper .teacher-header__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.teacher-wrapper .teacher-header__controls h1 {
  margin-left: 15px;
  line-height: 0;
}

.teacher-wrapper .teacher-header__controls a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teacher-wrapper .teacher-header__controls a img {
  width: 20px;
  height: 20px;
}

.teacher-wrapper .teacher {
  margin-bottom: 25px;
}

.teacher-wrapper .teacher__item {
  padding: 0px 15px;
  text-align: center;
  cursor: pointer;
}

.teacher-wrapper .teacher__item-photo img {
  display: block;
  margin: auto;
  max-width: 245px;
}

.teacher-wrapper .teacher__item-name {
  margin: 10px 0px;
}

.teacher-wrapper .teacher__item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.form-wrapper .form {
  height: 469px;
}

.form-wrapper .form h1 {
  margin-top: 81px;
  margin-bottom: 70px;
}

.form-wrapper .form__inner {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.form-wrapper .form__inner input {
  width: calc(50% - 25px);
}

.form-wrapper .form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.load-more {
  display: block;
  background: transparent;
  color: #2381fb;
  border: 2px solid #2381fbcc;
  font-weight: 400;
  border-radius: 15px;
  text-align: center;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
  max-width: 180px;
  padding: 10px 25px;
  font-size: 16px;
  margin: 45px auto 25px auto;
}

@media (max-width: 1200px) {
  .header .banner__wrapper .banner__img {
    margin-top: 0px;
  }
  .docs .pull-right {
    float: unset !important;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 28px;
  }
  body {
    margin-top: 85px;
  }
  .navbar__menu {
    display: none !important;
  }
  .header .navbar__wrapper .navbar {
    padding: 0px 15px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
    line-height: 42px !important;
  }
  .header .banner__wrapper {
    padding: 40px 0px 0px 0px;
  }
  .header .navbar__wrapper .navbar__logo a img {
    max-width: 60px;
  }
  .teacher-wrapper,
  .news-wrapper {
    height: auto;
    padding: 25px 15px;
  }
  .teacher-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .teacher-wrapper .teacher-header__controls {
    margin-bottom: 15px;
  }
  .form-wrapper .form {
    height: auto;
    padding: 25px 15px;
  }
  .form-wrapper .form h1 {
    margin: 40px 0px !important;
  }
  .form-wrapper .form__inner {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-wrapper .form__inner input {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer__wrapper .footer {
    padding: 25px 15px;
  }
  .footer__wrapper .footer__link,
  .footer__wrapper .footer__link h3 {
    margin-bottom: 15px;
  }
  .header .banner__wrapper .banner {
    margin-bottom: 45px;
  }
  .news-wrapper .news__item {
    border-right: 0px;
  }
}

.news__list {
  padding: 45px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 45px 0px;
}

.news__list .news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px;
  margin-bottom: 65px;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.news__list .news__item-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.news__list .news__item-img {
  margin: 0px 0px 10px;
}

.news__list .news__item-img img {
  width: 100%;
  height: 200px;
}

.news__list .news__item-content {
  margin-bottom: 15px;
}

.news__list .news__item-content h3 {
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #80808045;
}

.news__list .news__item-content p {
  margin-bottom: 10px;
}

.news__list .news__item-btn {
  padding: 10px 15px;
}

.contacts {
  margin-top: 25px;
}

.contacts__tel {
  margin-bottom: 25px;
}

.contacts__tel-item {
  margin-bottom: 15px;
}

.contacts__tel-item strong {
  display: block;
  margin-bottom: 10px;
}

.contacts__tel-item a {
  display: block;
  color: black;
  margin: 10px 0;
}

.teacher-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 45px 0px;
}

.teacher-list .teacher__item {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.teacher-list .teacher__item .teacher__item-name h3 {
  height: 50px;
  margin-bottom: 15px;
}

.laboratories-wrapper .laboratories {
  padding: 45px 0px;
}

.laboratories-wrapper .laboratories * {
  margin-bottom: 10px;
}

.laboratories-wrapper .laboratories h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #33333324;
}

.docs-wrapper .docs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 45px 0px;
}

.docs-wrapper .docs h2 {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #80808045;
}

.docs-wrapper .docs p {
  margin-bottom: 15px;
}

.docs-wrapper .docs img {
  margin-left: 25px;
}

.history-wrapper .history {
  padding: 45px 0px;
}

.history-wrapper .history p {
  margin-bottom: 15px;
}

.history-wrapper .history img {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

.history-wrapper .history .text {
  margin-bottom: 30px;
}

.questions {
  padding: 45px 0px;
}

.questions-item {
  margin-bottom: 30px;
}

.questions-item__info {
  margin-bottom: 10px;
}

.questions-item__info * {
  font-size: 14px;
  color: grey;
  margin-bottom: 10px;
}

.questions-item__info .count {
  font-size: 14px;
  font-weight: 600;
}

.questions-item__questions {
  padding: 15px;
  background: #8080801a;
  margin-bottom: 10px;
}

.questions-item__questions p {
  font-style: italic;
}

.questions-item__answer {
  padding: 0px 15px;
}
/*# sourceMappingURL=styles.css.map */