
.news-wrapper {

    padding: 45px 0;
    background-color: #f3f3f3;
    .news-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 45px;
        &__controls {
            display: flex;
            align-items: center;
            height: 50px;
            h1 {
                margin-left: 15px;
                line-height: 0;
            }
            a {
                display: flex;
                align-items: center;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &__show-news {
            a {
                display: block;
                background: $colorDefault;
                color: white;
                font-weight: 300;
                padding: 5px 10px;
                font-size: 12px;
                border-radius: 15px; 
            }
        }
    }
    .news {
        &__item {
            background: white;
            padding: 25px 15px;
            height: 435px;
            position: relative;
            max-width: 280px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
            transition: 0.3s;
            color: #333333;
            &-img img {
                width: 100%;
                height: 200px;
            }
            &-tags {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-items: flex-start;
                margin-bottom: 10px;
            }
            &-date {
                padding: 15px 0px;
                font-size: 12px;
                color: #333333a3;
            }
            &-title {
                font-size: 14px;
                line-height: 190%;
                color: #333333;
                font-weight: 300;
            }
            &-btn {
                position: absolute;
                bottom: 25px;
                left: 15px;
            }
        }
        &__item:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
        }
        
    }
}
.teacher-wrapper {
    height: auto;
    padding: 65px 0;
    border-bottom: 1px solid #E0E0E0;
    .teacher-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 45px;
        &__controls {
            display: flex;
            align-items: center;
            height: 50px;
            h1 {
                margin-left: 15px;
                line-height: 0;
            }
            a {
                display: flex;
                align-items: center;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        &__btn {

        }
    }

    .teacher {
        margin-bottom: 25px;
        &__item {
            position: relative;
            display: flex;
            transition: 0.75s;
            max-width: 280px;
            height: 475px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
            transition: 0.3s;
            padding-top: 15px;
            padding-bottom: 15px;
            // border-radius: 5px;
            margin: auto;
            &-photo {
                img {
                    display: block;
                    margin: 0px 0px 15px 15px;
                    // border-radius: 5px 5px 0 0;
                    height: 245px;
                }
            }
            &-name {
                padding: 0px 15px;
                margin: 10px 0px;
                h3 {
                    font-weight: 900;
                    font-size: 16px;
                    min-height: 60px;
                }
            }
            &-text {
                padding: 0px 15px;
                margin-bottom: 15px;
            }
            &-prof {
                font-weight: 500;
                padding: 0px 15px;
                margin-bottom: 15px;
                // max-width: 250px;
                // margin: 10px auto;
                font-size: 14px;
            }
            &-btn {
                padding: 0px 15px;
                a {
                    position: absolute;
                    bottom: 15px;
                    left: 15px;
                }
            }
        }
        &__item:hover {
            transition: 0.3s;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
        }
    }
}
.form-wrapper {
    .form {
        height: 469px;
        h1 {
            margin-top: 81px;
            margin-bottom: 0px;
        }
        .subtitle {
            font-size: 16px;
            margin-bottom: 70px;
        }
        &__inner {
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 70px;
            input {
                width: calc(50% - 25px);
            }
        }
        &__btn {
            display: flex;
            justify-content: center;
        }
    }
}
.cost-table {
    h2 {
        margin: 15px 0px;
    }
}
#result-container, #cost {
    font-size: 22px;
}
#result, #cost, #summ, #summCost {
    font-size: 25px;
    color: #4f9afc;
    font-weight: 300;
}
.cost-form {
    border-bottom: 1px solid #E0E0E0;
    min-height: 400px;
    h1 {
        margin-bottom: 45px;
    }
    .cost-result {
        display: none;
    }
    .cost-submit {
        margin-top: 45px;
        display: flex;
        justify-content: center;
    }
}
.cost-result {
    margin: 25px 0px 0px;
    padding: 0px 15px;
}
.citate {
    background: #8080802b;
    padding: 15px;
    margin-top: 45px;  
}

.load-more {
    display: block; 
    background: transparent;
    color: #2381fb;
    border: 2px solid #2381fbcc;
    font-weight: 400;
    border-radius: 15px;
    text-align: center;
    -webkit-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    max-width: 180px;
    padding: 10px 25px;
    font-size: 16px;
    margin: 45px auto 25px auto;
}


.icon-bar {
    position: fixed;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: white;
  }

  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {

    transform: scale(0.9, 0.9);
 
  }
  
  .tel {
    background: #ffaf00;
    color: white;
  }
  
  .email {
    background: #55ACEE;
    color: white;
  }

  
  .teacher .slick-slide > div {
    display: flex;
    justify-content: center;
}

.custom-select {
    position: relative;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background: #2381fbcc;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    border-radius: 8px;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background: #2381fb;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 8px;

  }

  /* Style the tab */
.tab {
    overflow: hidden;
    background: #8080801a;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }

  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover {
    background-color: rgb(58, 141, 249);
  }

  .select-selected.warning{
    border: 2px solid #e06060;
  }

@media (max-width: 1200px) {
    .header .banner__wrapper .banner__img {
        margin-top: 0px;
    }
    .docs .pull-right {
        float: unset !important;
    }
    .header .banner__wrapper {
        padding: 50px 0px;
    }
}
@media (max-width: 992px) {
    .docs-wrapper .docs h1 {
        margin-bottom: 15px;
    }
    h1 {
        font-size: 28px;
    }
    
    body {
        margin-top: 79px;
    }
    .navbar__menu {
        display: none !important;
    }
    .header .navbar__wrapper .navbar {
        padding: 0px 15px;
    }
    .laboratories-wrapper .laboratories img.img-responsive {
        max-width: 320px;
        float: unset !important;
    }
    .docs-wrapper .docs img {
        margin-left: 0px !important;
        max-width: 50%;
    }
    .docs-wrapper .docs {
        padding: 0px 0px;
    }
    .header .navbar__wrapper .navbar__logo a img {
        max-width: 60px;
    }
    .wrapper {
        padding: 25px 0px;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 28px;
        line-height: 42px !important;
    }
    .header .banner__wrapper {
        padding: 40px 0px 0px 0px;
    }

    .teacher-wrapper,
    .news-wrapper {
        height: auto;
        padding: 25px 15px;
    }
    .teacher-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .teacher-wrapper .teacher-header__controls {
        margin-bottom: 15px;
    }
    .form-wrapper .form {
        height: auto;
        padding: 25px 15px;
    }
    .form-wrapper .form h1 {
        margin: 40px 0px !important;
    }
    .form-wrapper .form__inner {
        width: 100%;
        flex-direction: column;
    }
    .form-wrapper .form__inner input {
        width: 100%;
        margin-bottom: 10px;
    }
    .footer__wrapper .footer {
        padding: 25px 15px;
    }
    .footer__wrapper .footer__link,
    .footer__wrapper .footer__link h3 {
        margin-bottom: 15px;
    }
    .header .banner__wrapper .banner {
        margin-bottom: 45px;
    }
    .news-wrapper .news__item {
        border-right: 0px;
    }
}