.docs-wrapper {
    .docs {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h1 {
            margin-bottom: 45px;
        }
        h2 {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #80808045;
        }
        p {
            margin-bottom: 15px;
        }
        img {
            margin-left: 25px;
        }
    }
}